<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myplay.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.myplay.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="photourl" jdbcType="VARCHAR" property="photourl" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myplay.model.User">
    insert into user (id, name,  
      signature,  phone, 
      password) 
    values (null, #{name,jdbcType=VARCHAR}, null, 
     #{phone,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.myplay.model.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      photourl = #{photourl,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, sex, signature, photourl, phone, password
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, sex, signature, photourl, phone, password
    from user
  </select>
  <select id="login" parameterType="com.myplay.model.User" resultMap="BaseResultMap">
    select id, name, sex, signature, photourl, phone, password
    from user
    where phone = #{phone,jdbcType=VARCHAR}
    	and password = #{password,jdbcType=VARCHAR}
  </select>
  <select id="phoneExit" parameterType="com.myplay.model.User" resultType="java.lang.Integer">
    select count(*) num from user where phone = #{phone,jdbcType=VARCHAR}
  </select>
</mapper>